* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  color:black;
  background-image: url('https://64.media.tumblr.com/94f541a71c14550a969614a05138b844/tumblr_okdkmulUCh1qbfqtwo1_400.gifv');
  background-repeat: no-repeat;
  background-size: cover;
}
p{
  font-size: 20px;
  color: antiquewhite;
}
.controls-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}


.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(0 0 0);
    background-color: rgb(27, 212, 236);
    border: none;
    border-radius: 15px;
    box-shadow: inset 20px 15px 20px 10px rgb(194 183 243);
}
 p {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(0 0 0);
    background-color: rgb(27, 212, 236);
    border: none;
    border-radius: 15px;
    box-shadow: inset 20px 15px 20px 10px rgb(194 183 243);
}


.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 9%;
  width: 9%;
  color:white;
}

.grid div.frog {
  content: url('https://banner2.cleanpng.com/20180823/btx/kisspng-drawing-frog-image-gif-coloring-book-hayvanlar-alemi-on-emaze-5b7ea0df924b34.9162225715350253755992.jpg');
  cursor: pointer;
}
.grid div.lilyPad {
  background-image: url('https://media0.giphy.com/media/hqaeBXQjXTMgAkekhm/giphy.gif?cid=6c09b95265y2kz7nkmbpluxm1r3kbsuuhz2bctdoc64j8n1o&rid=giphy.gif&ct=s');
  background-repeat: no-repeat;
  background-size: cover; 
}
.grid div.carLeft{
  content:url('https://i0.wp.com/24.media.tumblr.com/5c428b0416dea253ae680f7688a41e9b/tumblr_mmv8c3IiTO1sqhtkyo1_250.gif');
  background-repeat: no-repeat;
  background-size: cover;
  
}
.grid div.carRight{
  content:url('https://media1.giphy.com/media/kfds8RuptI555XkgzL/giphy.gif?cid=6c09b952ev4xnynnnsnah128x0106trmjl9e4zdirmb41spb&rid=giphy.gif&ct=s');
background-repeat: no-repeat;
background-size: cover;
}
.grid div.carLeftTwo {
 content:url('https://i0.wp.com/24.media.tumblr.com/5c428b0416dea253ae680f7688a41e9b/tumblr_mmv8c3IiTO1sqhtkyo1_250.gif');
 background-repeat: no-repeat;
 background-size: cover;
}
.grid div.carLeftThree {
  content:url('https://i0.wp.com/24.media.tumblr.com/5c428b0416dea253ae680f7688a41e9b/tumblr_mmv8c3IiTO1sqhtkyo1_250.gif');
  background-repeat: no-repeat;
  background-size: cover;
}
.grid div.carRightTwo {
  content:url('https://media1.giphy.com/media/kfds8RuptI555XkgzL/giphy.gif?cid=6c09b952ev4xnynnnsnah128x0106trmjl9e4zdirmb41spb&rid=giphy.gif&ct=s');
  background-repeat: no-repeat;
  background-size: cover;
}
.grid div.log{
 content: url('https://media1.giphy.com/media/PdHpcCVeQIbCwMS4I9/giphy.gif?cid=6c09b952f04sztkqj9lyigwqjniqukiuhq6wamm4hpq6ph1c&rid=giphy.gif&ct=s');
  background-repeat: no-repeat;
  background-size: cover
}
.grid div.logTwo{
  content: url('https://media1.giphy.com/media/PdHpcCVeQIbCwMS4I9/giphy.gif?cid=6c09b952f04sztkqj9lyigwqjniqukiuhq6wamm4hpq6ph1c&rid=giphy.gif&ct=s');
   background-repeat: no-repeat;
   background-size: cover
 }
 .grid div.logThree{
  content: url('https://media1.giphy.com/media/PdHpcCVeQIbCwMS4I9/giphy.gif?cid=6c09b952f04sztkqj9lyigwqjniqukiuhq6wamm4hpq6ph1c&rid=giphy.gif&ct=s');
   background-repeat: no-repeat;
   background-size: cover
 }
 .grid div.logFour{
  content: url('https://media1.giphy.com/media/PdHpcCVeQIbCwMS4I9/giphy.gif?cid=6c09b952f04sztkqj9lyigwqjniqukiuhq6wamm4hpq6ph1c&rid=giphy.gif&ct=s');
   background-repeat: no-repeat;
   background-size: cover
 }
 .grid div.frogonlog{
   content: url('https://thumbs.gfycat.com/BreakableAgedCoypu-max-1mb.gif');
   background-repeat: no-repeat;
   background-size: cover
 }
 /* .grid div.background {
   background-image: url('https://64.media.tumblr.com/a64234ab517bf2251d612398c9ca00a3/tumblr_odi7wzh5R61udgdfno1_1280.gifv');
   background-repeat: no-repeat;
   background-size: cover
 } */
 .grid div.frogHome{
  content:url('https://media0.giphy.com/media/lVmkwB6gRrSCMD5eDp/giphy.gif?cid=790b761123f803689faa088659553a38b4e7aeca7f028016&rid=giphy.gif&ct=s');
  background-repeat: no-repeat;
  background-size: cover
 }

